
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/tests/app/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

/tests/app/var/
!/tests/app/var/.gitignore
composer.lock

